#include <windows.h>
#include <winver.h>
#include "resources.h"
#include "VersionData.h"

IDI_DLSS_VIDEO_PLAYER ICON "../assets/DLSSVideoPlayer.ico"
IDR_TABLER_ICONS_FONT RCDATA "../assets/tabler/tabler-icons.ttf"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION DLSS_VIDEO_PLAYER_VERSION_COMMA
 PRODUCTVERSION DLSS_VIDEO_PLAYER_VERSION_COMMA
 FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
#ifdef _DEBUG
 FILEFLAGS VS_FF_DEBUG
#else
 FILEFLAGS 0
#endif
 FILEOS VOS_NT_WINDOWS32
 FILETYPE VFT_APP
 FILESUBTYPE VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "FileDescription", "DLSS 5 Video Player\0"
            VALUE "FileVersion", DLSS_VIDEO_PLAYER_VERSION_RESOURCE
            VALUE "InternalName", "DLSSVideoPlayer\0"
            VALUE "LegalCopyright", "Copyright (c) 2026 DLSS Video Player contributors\0"
            VALUE "OriginalFilename", "DLSSVideoPlayer.exe\0"
            VALUE "ProductName", "DLSS 5 Video Player\0"
            VALUE "ProductVersion", DLSS_VIDEO_PLAYER_VERSION_RESOURCE
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 1200
    END
END
